build/*
build.build
samples/*/build/*
samples/*/build
samples/tests/*
docGen/doc/*
*.zip
build.hxml
samples/*/bin/*
samples/*/.idea/*
samples/*/*.iml
*.hxproj
samples/demo/StablexUI_Android_demo.hxproj
